* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #efd1de;
    color: #555;
}

.container-pomodoro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50vw; 
    height: 50vh;
    margin-top: 4.5em;
    padding: 24px;
    border-radius: 50px;
    background: #efd1de;
    box-shadow: inset 35px 35px 70px #e3c7d3,
                inset -35px -35px 70px #fbdbe9;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 4em;
    width: 16em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 21px;
background: linear-gradient(145deg, #ffe0ee, #d7bcc8);
box-shadow:  15px 15px 30px #dcc0cc,
             -15px -15px 30px #ffe2f0;
}

.selected {
    border-radius: 21px;
background: linear-gradient(145deg, #d7bcc8, #ffe0ee);
box-shadow:  15px 15px 30px #dcc0cc,
             -15px -15px 30px #ffe2f0;
}

#timer {
    font-size: 28pt;
}