* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #e0e0e0;
    color: #555;
}

.container-pomodoro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50vw; 
    height: 50vh;
    margin-top: 4.5em;

    border-radius: 50px;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 4em;
    width: 16em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.selected {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

#timer {
    font-size: 28pt;
}